<ion-view title="Send a Nudge">
  <ion-content class="has-header padding">

    <!--<h2>Select your Colour</h2>-->

    <div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-positive" ng-click="send(0)">Blue</button>
        </div>
        <div class="col">
          <button class="button button-block button-calm" ng-click="send(5)">Cyan</button>
        </div>
        <div class="col">
          <button class="button button-block button-royal" ng-click="send(3)">Purple</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced" ng-click="send(1)">Green</button>
        </div>
        <div class="col">
          <button class="button button-block button-energized" ng-click="send(4)">Yellow</button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive" ng-click="send(2)">Red</button>
        </div>
      </div>
    </div>

    <ion-list>
      <!--<label class="item item-input item-select">
        <div class="input-label">Colour</div>
        <select ng-model="colourSelect" ng-change="change(colourSelect)">
          <option ng-repeat="c in colours" class="{{c.style}}">{{c.name}}</option>
        </select>
      </label>-->
      <div class="item range range-positive">
        <i class="icon ion-ios7-timer-outline"></i>
        <input type="range" name="timeout" min="1000" step="500" max="10000" ng-model="timeout">
        <i class="icon ion-ios7-timer"></i>
      </div>
      <ol class="list">
        <li class="item" ng-repeat="log in logs" ng-style="{'background':log.color}">
            {{log.message}}

            <button ng-if="log.type === 'connect'" class="button button-positive" ng-click="connectDevice(log.connectEvent)">
                Connect
            </button>
        </li>
      </ol>
    </ion-list>

    <button class="button button-outline icon-right ion-refresh button-balanced"
            ng-hide="scanning" ng-click="startScan()">Scan </button>
    <button class="button button-outline icon-right ion-refreshing button-balanced"
            ng-show="scanning" ng-click="stopScan()">Scanning </button>

  </ion-content>
</ion-view>
