/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/ionic-bower-1.0.0-beta.13/scss/ionic";

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    -ms-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    -ms-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    -ms-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.splash {
  margin: 0;
  line-height: 100px;
  font-size: 40px;
  opacity: 1;
  max-width: 200px;
}

.friends-list {
  max-height: 70px;
  min-height: 70px;
  .item-content {
    padding-left: 70px;
    padding-bottom: 10px;
    max-height: 70px;
    min-height: 70px;
  }
  img {
    border-radius: 25px;
    max-width: 50px !important;
    max-height: 50px;
    top: 10px;
  }
  h2 {
    max-width: 120px;
    margin-bottom: 5px;
  }
  p {
    padding-right: 90px;
    margin-bottom: 5px;
  }
  .item-toggle {
    position: absolute;
    top: 12px;
    right: 5px;
    border-width: 0;
    overflow: visible;
    width: 75px;
    height: 55px;
    padding: 0;
  }
  .colour {
    position: absolute;
    top: 12px;
    right: 85px;
    width: 45px;
    height: 45px;
    z-index: 2;
    border-radius: 25px;
    border: 1px solid #444;
  }
}

.blue { background: $positive }
.cyan { background: $calm }
.purple { background: $royal }
.green { background: $balanced }
.yellow { background: $energized }
.red { background: $assertive }
