# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
.DS_Store
.project
.tern-project
.settings/
.cordova/

bower_components/
node_modules/
platforms/
plugins/
www/
