<div>
  <div class="row">
    <div class="col">
      <button class="button button-block button-positive" ng-click="send('blue')"></button>
    </div>
    <div class="col">
      <button class="button button-block button-calm" ng-click="send('cyan')"></button>
    </div>
    <div class="col">
      <button class="button button-block button-royal" ng-click="send('purple')"></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-block button-balanced" ng-click="send('green')"></button>
    </div>
    <div class="col">
      <button class="button button-block button-energized" ng-click="send('yellow')"></button>
    </div>
    <div class="col">
      <button class="button button-block button-assertive" ng-click="send('red')"></button>
    </div>
  </div>
</div>
