<ion-view title="Settings">
  <ion-content class="padding">
    <h1>Settings</h1>
    <div class="list card">
			<div class="item item-text-wrap">
				<h2>Model</h2>
				<p>{{model}}</p>
			</div>
			<div class="item item-text-wrap">
				<h2>Platform</h2>
				<p>{{platform}}</p>
			</div>
			<div class="item item-text-wrap">
				<h2>Version</h2>
				<p>{{version}}</p>
			</div>
		</div>
    <div class="card">
			<div class="item">
				<strong>You are currently</strong> &nbsp {{connectionType}}
			</div>
			<div class="item">
				<strong>Network Type</strong> &nbsp {{networkStatus}}
			</div>
		</div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Band 1</span>
        <input type="text" value="{{settings['band1Address']}}">
      </label>
      <label class="item item-input">
        <span class="input-label">Band 2</span>
        <input type="text" value="{{settings['band2Address']}}">
      </label>
    </div>
  </ion-content>
</ion-view>
