<ion-tabs class="tabs-positive tabs-icon-top">

  <!-- Colours Tab -->
  <ion-tab title="Colours" icon-on="ion-ios7-heart" icon-off="ion-ios7-heart-outline" href="#/tab/colour">
    <ion-nav-view name="tab-colour"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
